body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: cadetblue;
}

.timer-container {
    width: 250px;
    border: 2px solid #333;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
}


button {
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

#start-btn {
    background-color: #4CAF50;
    color: white;
}

#start-btn:hover {
    background-color: #45a049;
    transform: scale(1.2);
}

#stop-btn {
    background-color: #f44336;
    color: white;
}

#stop-btn:hover {
    background-color: #da190b;
    transform: scale(1.2);
}

#reset-btn {
    background-color: #2196F3;
    color: white;
}

#reset-btn:hover {
    background-color: #0b7dda;
    transform: scale(1.2);
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

#display {
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}